#Blaze
public net.minecraft.world.entity.monster.Blaze$BlazeAttackGoal
#BrewingStand
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58975_ # items
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58979_ # fuel
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58976_ # brewTime
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58978_ # ingredient
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58977_ # lastPotionCount
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity m_155294_(Lnet/minecraft/core/NonNullList;)Z # isBrewable
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity m_155290_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/NonNullList;)V # doBrew
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity m_59029_()[Z # getPotionBits